body {
    margin: 0;
    min-height: 100vh;
    --tile-size: calc(min(10.7vh, 100px));
}

.dark-root {
    background-color: #0e0e0e;
}

.dark-root .held-card,
.dark-root #game-grid {
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
}

#darkmode-switch {
    border-radius: 0;
    border: solid 1px black;
    background-color: white;
}

#darkmode-switch:hover {
    filter: brightness(0.8);
}

#game-grid {
    --size: 5;
    --gap: 0px;

    --width: calc(var(--size) * (var(--tile-size) + var(--gap)));
    width: var(--width);
    aspect-ratio: 1;
    line-height: 0;
    position: absolute;
    left: calc(50vw - var(--width) / 2);
    top: calc(50vh - var(--width) / 2);
    outline: solid 3px black;
}

.tile {
    display: inline-block;
    width: var(--tile-size);
    aspect-ratio: 1;
    background-color: #bfdb59;
    margin-left: var(--gap);
    margin-bottom: var(--gap);
    background-image: url("assets/grass.png");
    background-size: cover;
    filter: brightness(1.0);
    position: relative;
}

.tile:hover {
    z-index: 3;
    outline: solid 2px black;
}

.tile:nth-child(odd) {
    background-color: #aac83b;
}

#player-deck {
    --gap: 7px;
    --count: 5;
    --width: calc(min(14.5vh, 130px));
    --total-width: calc(var(--count) * (var(--width) + var(--gap)));
    width: var(--total-width);
    display: block;
    position: absolute;
    bottom: 5px;
    left: calc(50% - var(--total-width) / 2);
}

.card {
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    width: var(--width);
    line-height: 0;
}

.placed-card {
    --width: calc(0.72 * var(--tile-size));
    position: absolute;
    left: calc(var(--x) * var(--tile-size) + var(--tile-size) / 2.0);
    top: calc(var(--y) * var(--tile-size) + var(--tile-size) / 2.0);
    transform: translate(-50%, -50%);
    z-index: 4;
    pointer-events: none;

    transition: 0.3s;
    transition-timing-function: ease-out;
    transition-property: left, top;
}

#player-deck[style="--count: 1;"]>.held-card {
    top: -180px;
    --rotate: 0deg;
}

.held-card {
    --x: 0px;
    --y: 0px;
    --index: 0;
    --arc-factor: 0.15;
    --scale: 1.0;
    display: inline-block;
    position: absolute;
    left: calc(var(--index) * (var(--width) + var(--gap)));

    --circle-x: (var(--index) / (var(--count) - 1.0) - 0.5) * 2 * var(--arc-factor);
    --rotate: calc(asin(var(--circle-x)));
    rotate: var(--rotate);
    top: calc(cos(asin(var(--circle-x) * 2)) * -3 * var(--width) + 1.5 * var(--width));
    transition: 0.1s;
    transform: translate(calc(var(--x) / var(--scale)), calc(var(--y) / var(--scale)));
    scale: var(--scale);
}

.held-card:hover,
.dragged-card {
    --scale: 1.4;
    transition: 0.2s;
    transform: translate(calc(var(--x) / var(--scale)), calc(var(--y) / var(--scale) - 40px));
    rotate: 0deg;
}

.no-drag,
.card {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card img {
    pointer-events: none;
}

.card-img {
    width: 100%;
}

.card-heart {
    width: 15%;
}

.card-type {
    --index: 0;
    width: 22%;
    position: absolute;
    top: 0;
    left: calc(var(--index) * 20%);
}

.highlight-tile {
    --x: 0;
    --y: 0;
    --c: 0deg;
    z-index: 5;
    position: absolute;
    left: calc(var(--x) * var(--tile-size));
    top: calc(var(--y) * var(--tile-size));
    width: var(--tile-size);
    height: var(--tile-size);
    pointer-events: none;
    background-image: url("assets/target.png");
    background-size: cover;
    filter: hue-rotate(var(--c));
    opacity: 0.7;
}

.card-unavailable {
    filter: contrast(0.9) brightness(0.7);
}

.enemy-card {
    border: solid 2px #af0000;
    background-color: #ffece1;
}